<h1>Gráficos Dobles</h1>
<hr>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
        <app-grafico-barra [horizontal]="true"
                           [barChartData]="productoData"
                           [barChartLabels]="proveedoresLabels" >
        </app-grafico-barra>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
        <app-grafico-barra [barChartData]="proveedoresData"
                           [barChartLabels]="proveedoresLabels" >
        </app-grafico-barra>
    </div>
</div>